<div>
    
    <footer class="footer">
      <div class="col-md-4 d-flex align-items-center">
       
        <p class="mb-3 mb-md-0 text-body-secondary">© Cayman Fitzhugh</p>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/cayman.fitzhugh"><img src="/images/Facebook.svg" width="30" height="24" class="d-inline-block align-text-top me-2"></a></li>
      </ul>
    </footer>
  </div>